<div class="gate">

  <section class="notifications">
    <% if flash[:message] %><p class="message"><%= h flash[:message] %></p><% end %>
    <% if flash[:error] %><p class="error"><%= h flash[:error] %></p><% end %>
  </section>

  <section class="desktop-container">
    <a class="logo-ds" href="/" title="DoSomething.org">
      <img src="/images/logo-ds.png" alt="DoSomething.org" />
    </a>

    <img class="image-hero" src="/images/gate-bg.jpg" alt="Teens Having Fun" />

    <div class="field-content">
      <h2 class="subheadline">Join the Largest Organization for Youth and Social Change</h2>
      <p class="description">Take action on causes you care about, qualify for scholarships, join 2 million passionate members.</p>
    </div>
  </section>

  <section class="form-container">
    <div class="toolbar"><a href="#" id="toggle-form">register</a></div>

    <div class="field-content">
      <h1 class="headline">Log In</h1>
      <h2 class="subheadline">Join the Largest Organization for Youth and Social Change</h2>
      <p class="description">Take action on causes you care about, qualify for scholarships, join 2 million passionate members.</p>
    </div>

    <div class="region region-content">
      <%= render 'login' %>
      <%= render 'register' %>
    </div>

  </section>

  <div class="disclaimer">
    Clicking "Finish" won't sell your soul, but it means you agree to our <a href="/about/terms-of-service">terms of service</a> &amp; <a href="/about/privacy">privacy policy</a> &amp; to receive our weekly update.
  </div>
</div> <!-- .gate -->
