// Place all the styles related to the ShareAStats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#share-a-stat-container {
  background: #efefef;
  padding: 15px;
  border-radius: 7px;
  text-align: center;
  h3 {
    &.tip {
      background: #1891d5;
      max-width: 525px;
      margin: 0 auto;
      border-radius: 10px;
      color: #fff;
      padding: 3%;

      &.green { background: #163a26; }
      &.red { background: #e32f2f; }
      &.orange { background: #ff9e10; color: #000; }
      &.yellow { background: #fad141; color: #000; }
      &.gray { background: #ccc; color: #000; }
      &.black { background: #000; }
    }
  }

  #your-info {
    margin-top: 15px;
    clear: both;
  }

  #friends-info {
    clear: both;
    background: url(http://files.dosomething.org/files/campaigns/alcoa/line.png) top center no-repeat;
    padding-top: 20px;
  }

  .input {
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    float: left;
    @media screen and (max-width: 500px) {
      float: none;
      width: auto;
    }
  }
}

.scholarship {
  width: 250px;
}

p#notice {
  background: #e35a68;
  margin: 1em 0;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

#posts {
  thead td { background: #dedede; }
  td { padding: 5px 10px; border: 1px solid #000; }
  td { font-size: 11pt; }
}

.unpublished { background: #f6dcdc; }
.input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.share_a_stat, .new_share_a_stat, .edit_share_a_stat {
  .input {
    clear: both;
    min-height: 50px;
  }

  input[type="text"], input[type="number"] {
    float: left;
    width: 70%;
  }

  textarea {
    height: 92px;
    width: 70%;
    font-family: din-regular,"Trebuchet MS",sans-serif;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5em 1em 0.3em;
    margin: 0 0 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
  }

  label {
    float: left;
    clear: none;
    width: 20%;
  }
}