// Place all the styles related to the ShareAStats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#share-a-stat-container {
  background: #efefef;
  padding: 15px;
  border-radius: 7px;
  text-align: center;
  h3 {
    &.tip {
      background: #1891d5;
      max-width: 525px;
      margin: 0 auto;
      border-radius: 10px;
      color: #fff;
      padding: 3%;
    }
  }

  #your-info {
    margin-top: 15px;
    clear: both;
  }

  #friends-info {
    background: url(http://files.dosomething.org/files/campaigns/alcoa/line.png) top center no-repeat;
    padding-top: 20px;
  }

  .input {
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    float: left;
    @media screen and (max-width: 500px) {
      float: none;
      width: auto;
    }
  }
}

.scholarship {
  width: 250px;
}

p#notice {
  background: #e35a68;
  margin: 1em 0;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}