<!DOCTYPE html>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>DoSomething.org</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/ie.css" type="text/css" />
    <script src="/ie/html5.min.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="top" class="utility">
  <div class="flexwidth-wrapper">
    <a href="#" class="utility-link js-menu-toggle">Menu</a>
    <ul class="utility-links">
      <li class="search">
      <form action="#">
        <input name="query" type="search">
      </form>
      </li>
      <li><a class="utility-link" href="#">Help</a></li>
      <li><a class="utility-link" href="#">Sign In</a></li>
    </ul>
  </div>
</nav>

<div class="masthead-wrapper">
  <nav class="masthead">
    <a class="logo" href="http://www.dosomething.org"><img src="/images/ds-logo.png" alt="DoSomething.org"></a>
    <ul class="main-menu">
      <li>
        <a class="menu-link" href="http://www.dosomething.org/about">About Us</a>
        <ul class="dropdown">
          <li><a href="http://www.dosomething.org/about/who-we-are">Who We Are</a></li>
          <li><a href="http://www.dosomething.org/about/why-become-a-member">Why Become a Member?</a></li>
          <li><a href="http://www.dosomething.org/about/team">Staff Bios</a></li>
          <li><a href="http://www.dosomething.org/about/team/jobs">Jobs</a></li>
          <li><a href="http://www.dosomething.org/about/team/internships">Internships</a></li>
          <li><a href="http://www.dosomething.org/about/international">International</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="http://www.dosomething.org/campaigns">Campaigns</a>
        <ul class="dropdown">
          <li><a href="http://www.dosomething.org/women">25,000 Women</a></li>
          <li><a href="http://pics.dosomething.org">Pics for Pets</a></li>
          <li><a href="http://www.dosomething.org/hunt">The Hunt</a></li>
          <li><a href="http://www.dosomething.org/iheartdad">I Heart Dad</a></li>
          <li><a href="http://www.dosomething.org/undocumented">Undocumented</a></li>
          <li><a href="http://www.dosomething.org/thumbwars">Thumb Wars</a></li>
          <li><a href="http://www.dosomething.org/puppy">Puppy Text</a></li>
          <li><a href="http://www.dosomething.org/baby">Pregnancy Text</a></li>
          <li><a href="http://www.dosomething.org/band">Band Together</a></li>
          <li><a href="http://www.dosomething.org/past-campaigns">Past Campaigns</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="http://www.dosomething.org/causes">Causes</a>
        <ul class="dropdown">
          <li><a href="http://www.dosomething.org/cause/animals">Animals</a></li>
          <li><a href="http://www.dosomething.org/cause/bullying-and-violence">Bullying &amp; Violence</a></li>
          <li><a href="http://www.dosomething.org/cause/disasters">Disasters</a></li>
          <li><a href="http://www.dosomething.org/cause/discrimination">Discrimination</a></li>
          <li><a href="http://www.dosomething.org/cause/education">Education</a></li>
          <li><a href="http://www.dosomething.org/cause/environment">Environment</a></li>
          <li><a href="http://www.dosomething.org/cause/homelessness-and-poverty">Homelessness &amp; Poverty</a></li>
          <li><a href="http://www.dosomething.org/cause/human-rights">Human Rights</a></li>
          <li><a href="http://www.dosomething.org/cause/our-troops">Our Troops</a></li>
          <li><a href="http://www.dosomething.org/cause/physical-and-mental-health">Physical &amp; Mental Health</a></li>
          <li><a href="http://www.dosomething.org/cause/sex-and-relationships">Sex &amp; Relationships</a></li>
          <li><a href="http://www.dosomething.org/resources">All Resources</a></li>
        </ul>
      </li>
      <li>
        <a class="menu-link" href="http://www.dosomething.org/awesome-things">Awesome-Things</a>
        <ul class="dropdown">
          <li><a href="http://www.dosomething.org/scholarships">Scholarships</a></li>
          <li><a href="http://www.dosomething.org/petitions">Petitions</a></li>
          <li><a href="http://www.dosomething.org/quizzes">Quizzes</a></li>
          <li><a href="http://www.dosomething.org/clubs">Clubs</a></li>
          <li><a href="http://www.dosomething.org/awards">Do Something Awards</a></li>
          <li><a href="http://www.dosomething.org/grants">Grants</a></li>
          <li><a href="http://www.dosomething.org/bootcamp">Boot Camp</a></li>
          <li><a href="http://www.dosomething.org/blog">Blog Center</a></li>
          <li><a href="http://www.dosomething.org/projects">Projects</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div role="main" class="wrapper">
  <article class="content-center">
    <%= yield %>
  </article>
</div>

<div class="footer-wrapper">
  <footer class="main">
    <div class="column">
      <h4>Connect</h4>
      <ul>
        <li><a href="http://www.dosomething.org/help">Help Center</a></li>
        <li><a href="http://www.dosomething.org/tipsandtools/hotlines">Crisis Hotlines</a></li>
        <li><a href="http://www.facebook.com/dosomething">Like Us on Facebook</a></li>
        <li><a href="https://twitter.com/#!/dosomething">Follow Us on Twitter</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Show Your Love</h4>
      <ul>
        <li><a href="http://store.dosomething.org/">Wear Your Love</a></li>
        <li><a href="http://www.dosomething.org/donate">Donate</a></li>
        <li><a href="http://www.dosomething.org/rss">RSS Feed</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Popular Stuff</h4>
      <ul>
        <li><a href="http://www.dosomething.org/awards">Do Something Awards</a></li>
        <li><a href="http://www.dosomething.org/scholarships">Scholarships</a></li>
        <li><a href="http://www.dosomething.org/clubs">Clubs</a></li>
        <li><a href="http://www.dosomething.org/grants">Grants</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Our Peeps</h4>
      <ul>
        <li><a href="//www.tmiagency.org/">TMI Agency</a></li>
        <li><a href="http://www.dosomething.org/about/partners">Partners</a></li>
        <li><a href="http://www.dosomething.org/about/team/board">Board of Directors</a></li>
        <li><a href="http://www.dosomething.org/yac">Youth Advisory Council</a></li>
        <li><a href="http://www.dosomething.org/ds-virtual">#DSVirtual</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Random Stuff</h4>
      <ul>
        <li><a href="http://www.dosomething.org/faqs">FAQ</a></li>
        <li><a href="http://www.dosomething.org/sitemap">Sitemap</a></li>
        <li><a href="http://www.dosomething.org/about/stats">Mind-Blowing Stats</a></li>
        <li><a href="http://www.dosomething.org/our-sexy-financials-and-impact">Sexy Financials and Impact</a></li>
        <li><a href="http://www.dosomething.org/oldpeople">Old People</a></li>
        <li><a href="http://www.dosomething.org/about/privacy">Privacy Policy</a></li>
        <li><a href="http://www.dosomething.org/about/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
  </footer>
</div>

<!--[if lt IE 9]>
  <script src="/ie/rem.min.js"></script>
<![endif]-->
</body>
</html>