<div class="scholarships-wrapper">
  <% @share_a_stats.each do |share_a_stat| %>
    <div>
      <h2><%= share_a_stat.title %></h2>
      <%= simple_format share_a_stat.message %>
      <%= link_to 'GO', share_a_stat %>
    </div>
  <% end %>
</div>
